.content {
    padding-top: 49px;
    display: flex;
    justify-content: center;
    color: #151317;
    font-size: 16px;
    line-height: 136.19%;
    .desc {
        max-width: 630px;
        margin-right: 131px;

    }
    .phone, .email {
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
        }
    }
    .phone {
        margin-bottom: 30px;
    }
}
@media (max-width: 865px) {
    .content {
        padding-top: 33px;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column-reverse;
        .desc {
            margin: 0;
        }
        .info {
            margin-bottom: 34px;
        }
    }
}
