.header {
    padding: 64px 0;
    color: #F8F8F8;
    position: relative;
    background: #512689;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
        font-size: 64px;
        line-height: 75px;
        color: #FFFFFF;
        margin-bottom: 16px;
        font-weight: 400;
    }
    .text {
        font-size: 20px;
        line-height: 23px;
        max-width: 846px;
        font-weight: 400;
    }
    .exit {
        position: absolute;
        right: 80px;
        top: 32px;
        border: 1px solid #F8F8F8;
        border-radius: 8px;
        padding: 8px 16px;
        cursor: pointer;
    }
    .exitIconBtn {
        display: none;
        position: absolute;
        right: 27px;
        top: 23px;
        cursor: pointer;
        padding: 4px;
    }
}
@media (max-width: 865px) {
    .header {
        padding: 64px 20px;
        .exit {
            display: none;
        }
        .exitIconBtn {
            display: block;
        }
    }
}
@media (max-width: 575px) {
    .header {
        .title {
            font-size: 36px;
            line-height: 42px;
        }
        .text {
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }
    }

}